// color
//text color
.tpc-1 {
    color: var(--primary-color);
}

.tpc-2 {
    color: var(--primary-color-02);
}

.tsc-1 {
    color: var(--secondary-color);
}

.tsc-2 {
    color: var(--secondary-color-02);
}

.tnc-1 {
    color: var(--neutral-01);
}

.tnc-2 {
    color: var(--neutral-02);
}

.tnc-3 {
    color: var(--neutral-03);
}

.tnc-4 {
    color: var(--neutral-04);
}

.tnc-5 {
    color: var(--neutral-05);
}

.tnc-6 {
    color: var(--neutral-06);
}

.tnc-7 {
    color: var(--neutral-07);
}

.tnc-10 {
    color: var(--neutral-10);
}

// background color
.bgpc-1 {
    background-color: var(--primary-color);
}

.bgpc-2 {
    background-color: var(--primary-color-02);
}

.bgc-1 {
    background-color: var(--bg-color-01);
}

.bgc-3 {
    background-color: var(--bg-color-03);
}

.bgc-4 {
    background-color: var(--bg-color-04);
}

.bgc-5 {
    background: var(--bg-color-05);
}

.bgc-6 {
    background-color: var(--table-color);
}

.bgnc-10 {
    background-color: var(--neutral-10);
}

.bglc-1 {
    background-color: var(--bg-color-linear-01);
}

.bglc-3 {
    background-color: var(--bg-color-linear-03);
}

.bglc-4 {
    background-color: var(--bg-color-linear-04);
}

.bglc-5 {
    background-color: var(--bg-color-linear-05);
}

.body-bg {
    background: url('../img/body-bg.png') no-repeat;
    background-size: cover;
}

// shadow
.shadow-1 {
    box-shadow: var(--shadow-one);
}


// border radius
.br-xs {
    border-radius: 5px;
}

.br-sm {
    border-radius: 10px;
}

.br-base {
    border-radius: 20px;
}

.br-lg {
    border-radius: 30px;
}

.br-xl {
    border-radius: 40px;
}

.br-tb-xs {
    border-radius: 5px 0px 0px 5px;
}

.br-trl-sm {
    border-radius: 10px 10px 0px 0px;
}

.br-brl-sm {
    border-radius: 0px 0px 10px 10px;
}

// border line
.border-1 {
    border: 1px solid var(--neutral-06);
}

//border-bottom
.bb-1 {
    border-bottom: 1px solid var(--bg-color-01);
}

.bb-2 {
    border-bottom: 1px solid var(--neutral-06);
}

.bb-3 {
    border-bottom: 1px solid var(--neutral-04);
}

// border top
.bt-1 {
    border-top: 1px solid var(--neutral-06);
}

.bt-2 {
    border-top: 1px solid var(--neutral-07);
}

// border right
.br-1 {
    border-right: 1px solid var(--neutral-07);
}

// shadow
.bxs-1 {
    box-shadow: var(--shadow-one);
}

input,
.form-control {
    &:focus {
        box-shadow: unset;
    }
}

.pointer {
    cursor: pointer;
}

// direction
// left to right
.ltr {
    direction: ltr;
}

.btn {
    padding: 0;
    outline: none;
    border: unset;

    &:active {
        outline: none;
        border: unset;
        border-color: none;
    }
}

// display center
.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// display between
.d-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


// height 100vh
.h-100vh {
    height: 100vh;
}

// breadcrumb
.bc-item {
    position: relative;

    &::after {
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        position: absolute;
        top: 4px;
        right: -14px;
        color: var(--neutral-02);
        font-size: 14px;
    }

    a {
        color: var(--neutral-02);

        &:hover {
            color: var(--secondary-color);
        }
    }

    &:last-child {
        &::after {
            content: '';
        }

        color: var(--secondary-color) !important;
    }
}

// table
.list-table {
    width: 100%;

    thead tr {
        background: var(--table-color);
        cursor: pointer;
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: var(--table-color);
            }

            &:nth-child(odd) {
                background: var(--neutral-10);
            }
        }
    }

    tr {

        th,
        td {
            padding: 15px 30px;

            @media (max-width:1399px) {
                padding: 10px 15px;
            }

            @media (max-width:991px) {
                padding: 10px;
            }

            i {
                cursor: pointer;
            }
        }

        th {
            font-size: 18px;

            @media (max-width:1399px) {
                font-size: 16px;
            }
        }

        td {
            font-size: 16px;
        }
    }
}


//pagination
.pagination-item {
    display: flex;
    align-items: center;

    .page-item {
        margin: 5px;
        width: 37px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3.125px;
        border: 1px solid var(--neutral-06);
        background: var(--white);
        color: var(--neutral-02);
        font-size: 12px;
        font-family: var(--heading-font);
        font-weight: 700;
        padding: 0;
        text-align: center;
        transition: .3s linear;

        &:hover {
            background: var(--primary-color-02);
            color: var(--neutral-10);
        }

        &:first-child,
        &:last-child {
            border: unset;
            background: unset;
            font-size: 16px;

            &:hover {
                color: var(--primary-color-02);
            }
        }
    }

    .active {
        background: var(--primary-color-02);
        color: var(--neutral-10);
    }
}


.thum-pic {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    margin: auto;

    @media (max-width: 991px) {
        max-width: 150px;
        max-height: 150px;
    }
}


// form 
.form-input-box {
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
    border: 1px solid var(--neutral-06);
    background: var(--white);

    @media (max-width: 575px) {
        gap: 10px;
    }

    .form-icon {
        display: flex;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--neutral-07);
        color: var(--primary-color-02);
        background: var(--table-color);

        @media (max-width:575px) {
            width: 40px;
            height: 40px;
        }
    }

    .nice-select,
    input {
        border: none;
        font-size: 16px;
        color: var(--neutral-03);
        width: 100%;
        outline: 0;

        &::placeholder {
            color: var(--neutral-04);
            font-size: 16px;
        }
    }

    .nice-select {
        padding: 0;
        border: 0;
    }
}

.nice-select {
    &::after {
        height: 10px;
        width: 10px;
        border-color: var(--neutral-03);
        right: 30px;
    }
}


.file-input {
    border-radius: 5px;
    border: 1px solid var(--neutral-06);
    background: var(--white);
    width: 100%;
    padding: 60px 0;
    max-height: 162px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    @media (max-width: 575px) {
        padding: 30px 0;
    }
}

.form-input-textbox {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--neutral-06);
    background: var(--white);
    padding: 20px;
    outline: 0;
    max-height: 165px;
    // height: 100%;
    color: var(--neutral-04);

    @media (max-width: 575px) {
        max-height: 100px;
    }
}

.pres-input {

    .nice-select,
    input {
        padding: 20px 0 20px 30px;
        line-height: 1;
        width: 100%;
        height: 64px;
        border-radius: 5px;
        border: 1px solid var(--neutral-06);
        outline: none;
        font-size: 16px;

        @media (max-width: 575px) {
            padding: 10px 0 10px 20px;
            height: 40px;
            line-height: 1;
        }
    }
}

// icon bg
.icon-bg {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: var(--table-color);
    color: var(--primary-color-02);
    transition: 0.4s linear;

    &:hover {
        background: var(--primary-color-02);
        color: var(--neutral-10);
    }
}

.icon-bgc-2 {
    background: var(--neutral-08);
}



// calendar style

.fc-header {

    tr {
        display: flex;
        justify-content: space-between;

        .fc-header-right {
            text-align: left;
        }
    }

    td {
        padding: 30px;

        @media (max-width:1199px) {
            padding: 15px;
        }

        @media (max-width:767px) {
            padding: 8px;
        }

        @media (max-width:575px) {
            padding: 2px;
        }

        .fc-header-title {
            vertical-align: middle;
            margin-top: unset;

            h2 {
                color: var(--neutral-02, #3F3F3F);
                text-align: center;
                font-family: var(--heading-font);
                font-size: 32px;
                font-weight: 700;
                line-height: 130%;
                margin: unset;

                @media (max-width: 991px) {
                    font-size: 26px;
                }

                @media (max-width: 767px) {
                    font-size: 22px;
                }

                @media (max-width: 575px) {
                    font-size: 14px;
                    margin-top: 4px;
                }

                @media (max-width: 375px) {
                    font-size: 12px;
                }
            }
        }

        .fc-button {
            height: unset;
            line-height: unset;
            padding: 12px 24px;
            border: 1px solid var(--neutral-07);
            margin: unset;
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 700;

            @media (max-width:1199px) {
                padding: 8px 16px;
            }

            @media (max-width: 991px) {
                font-size: 16px;
            }

            @media (max-width: 767px) {
                padding: 8px;
            }

            @media (max-width: 575px) {
                padding: 5px;
                font-size: 14px;
                font-weight: 600;
            }

            @media (max-width: 375px) {
                padding: 2px;
            }
        }

        .fc-button-prev,
        .fc-button-next {
            background: var(--primary-color-02);
            color: var(--neutral-10) !important;
        }

        .fc-state-default {
            min-width: unset;
            color: #3F3F3F;
            border-color: var(--neutral-07);

            .fc-text-arrow {
                margin: unset;
                vertical-align: unset;
                font-size: 20px;

                @media (max-width:575px) {
                    font-size: 16px;
                }
            }
        }

        .fc-state-active,
        .fc-state-hover,
        .fc-state-disabled {
            background: var(--primary-color-02);
            color: var(--neutral-10);
        }
    }

}

.fc-content {
    .fc-border-separate {
        .fc-widget-header {
            background: var(--neutral-10);
            padding: 30px 0;
            text-align: center;
            border: 1px solid var(--neutral-07);
            color: var(--neutral-02);
            font-family: var(--heading-font);
            font-size: 24px;
            font-weight: 700;
            line-height: 130%;

            @media (max-width:1199px) {
                padding: 15px;
            }

            @media (max-width: 991px) {
                font-size: 20px;
            }

            @media (max-width: 575px) {
                font-size: 16px;
                padding: 5px;
                font-weight: 500;
            }
        }

        .fc-sat,
        .fc-sun {
            color: var(--secondary-color);
        }

        .fc-week {
            background: var(--neutral-10);

            .fc-widget-content {
                border: 1px solid var(--neutral-07);

                div {
                    min-height: unset !important;

                    .fc-day-number {
                        padding: 30px 0;
                        min-width: unset;
                        width: 100%;
                        text-align: center;
                        font-family: var(--body-font);
                        font-size: 26px;
                        font-weight: 400;
                        line-height: 138.462%;

                        @media (max-width:1199px) {
                            padding: 15px;
                        }

                        @media (max-width: 991px) {
                            font-size: 22px;
                        }

                        @media (max-width: 575px) {
                            font-size: 16px;
                            padding: 5px;
                        }
                    }

                    .fc-day-content {
                        display: none;
                    }
                }
            }

            .fc-state-highlight {
                background: var(--table-color);

                div>div.fc-day-number {
                    background-color: var(--table-color);
                    color: unset;
                    border-radius: unset;
                    margin: unset;
                }

            }

            .fc-day {
                &:hover {
                    .fc-day-number {
                        background-color: var(--table-color);
                        border-radius: unset;
                        color: inherit;
                        transition: background-color 0.2s;
                    }
                }
            }
        }
    }
}


.fc-agenda-slots tbody {
    th {
        background: unset;

        &:nth-child(odd) {
            background: unset;
        }
    }

    border-color: var(--neutral-07);
}

.fc-event-container {
    display: none;
}


// preloader
#preloader {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color-02);
    animation: none;
    z-index: 100;
}

#loader-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader-2 {
    stroke-dasharray: 281;
    animation: dash 5s infinite linear forwards;
}