

// jumping animation
@keyframes scaleUp {
    50%{
        transform: scale(1.1);
    }
}

@keyframes dash {
	from {
		stroke-dashoffset:814;
	}

	to {
		stroke-dashoffset:-814;
	}
}