// button 
.btn-1{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: var(--natural-10);
    border: 1px solid var(--neutral-06);
    outline: 0;
    transition: .5s linear;
    &:hover{
        background: var(--primary-color-02);
        color: var(--white);
    }

    @media (max-width:575px) {
        padding: 8px 16px
    }
}

.btn-2{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: var(--primary-color-02);
    color: var(--neutral-10);
    border: 1px solid var(--neutral-06);
    outline: 0;
    transition: .5s linear;
    &:hover{
        background: var(--secondary-color);
        color: var(--white);
    }

    @media (max-width:575px) {
        padding: 8px 16px
    }
}

.btn-3{
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: var(--primary-color-02);
    color: var(--neutral-10);
    border: 1px solid var(--neutral-06);
    outline: 0;
    transition: .5s linear;
    &:hover{
        background: var(--secondary-color);
        color: var(--white);
    }

    @media (max-width:575px) {
        padding: 6px 12px
    }
}